<div class="register-container">
    <h2>Register</h2>
    <form class="register-form" method="post" action="#">
      <div class="form-row">
        <input type="text" placeholder="Username" required id="username">
      </div>
      <div class="form-row">
        <input type="password" placeholder="Password" required id="password">
      </div>
      <div class="llogin">
        <a href="/" class="Login">Login</a>
      </div>
      <button type="submit" id="button_register">Register</button>
    </form>
  </div>  
  <script src="./appregister.js" type="module"></script>