<div class="container">
    <form class="update-form" action="#" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="oldpassword">Old Password:</label>
            <input type="password" id="oldpassword" name="oldpassword" required>
        </div>
        <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input type="password" id="newpassword" name="newpassword" required>
        </div>
        <div>
            <a href="/" class="login">Login</a>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<script src=".appupdate.js" type="module"></script>